<header>
    <center><img src="images/Go.jpg" width="350px" /> </center><br/>
    <marquee><br/> <img src="images/carMove.png" height="50px"> <br/></marquee>
    <br/><br/><h1> <b> Mercedes shop </b></h1> <br/>
    <nav>
        <ul>
            <li><a href="Index.php">Main page</a></li>
            <li><a href="About.php">About company</a></li>
            <li><a href="Buying.php">Buying</a></li>
            <li><a href="Err.php">Error page</a></li>
        </ul>
    </nav>
</header>