<div align = "center"><big></br>
    <h2> О MERCEDES-BENZ </h2></br>
    История создания бренда Mercedes-Benz связана с двумя марками: маркой Мерседес,
    которая выпускалась немецкой компанией Даймлер-Моторен-Гезелльшафт и маркой Бенц.
    Обе компании были вполне успешны и развивались параллельно сами по себе на немецком рынке.
    Но в 1926 году было принято решение о слиянии двух компаний в единый концерн Даймлер-Бенц.
    Главный офис концерна расположен в Штутгарте. В результате слияния в 1963 году с конвейера сошла легендарная модель
    600 (знаменитый шестисотый Мерседес). Это был своеобразный вызов машинам представительского класса компании Rolls-Royce.
    На сегодняшний день Mercedes S600 оснащен невероятно надежным и мощным силовым агрегатом,
    а его маневренность удивительна для больших габаритов, которыми обладает этот автомобиль.
    Сегодня компания может похвастать наверное одним из самых больших модельных рядов на международном авторынке.
    В нем представлены и седаны, и компактные хэтчбеки, и универсалы, и кабриолеты, и купе, а также родстеры, кроссоверы, минивэны,
    и даже брутальные внедорожники.</big></br></br></div>