<div style="display: flex; padding: 20px; padding-left: 150px; padding-right:150px;">
    <div style="flex:1; text-align:center;">
        <img src="images/car1.jpg" width="80%"/>
        <br/>
        Mercedes-Benz A Sedan
        <br/><br/>
        <img src="images/car7.jpg" width="80%"/>
        <br/>
        Mercedes-Benz A-Class
    </div>
    <div style="flex:1; text-align:center;">
        <img src="images/car2.jpg" width="80%"/>
        <br/>
        Mercedes-Benz A-Class AMG
        <br/><br/>
        <img src="images/car8.jpg" width="80%"/>
        <br/>
        Mercedes-Benz AMG GT
    </div>
    <div style="flex:2; text-align:center;">
        <img src="images/car3.jpg" width="80%"/>
        <br/>
        Mercedes-Benz AMG GT 4-Door Coupe
    </div>
</div>
<div style="display: flex;">
    <div style="flex:2; text-align:center;">
        <img src="images/car4.jpg" width="80%"/>
        <br/>
        Mercedes-Benz AMG GT C
    </div>
    <div style="flex:1; text-align:center;">
        <img src="images/car5.jpg" width="80%"/>
        <br/>
        Mercedes-Benz AMG GT R
        <br/><br/>
        <img src="images/car9.jpg" width="80%"/>
        <br/>
        Mercedes-Benz C-Class Cabrio
    </div>
    <div style="flex:1; text-align:center;">
        <img src="images/car6.jpg" width="80%"/>
        <br/>
        Mercedes-Benz CLA
        <br/><br/>
        <img src="images/car10.jpg" width="80%"/>
        <br/>
        Mercedes-Benz CLA AMG
    </div>
</div>